<div id="app" *ngIf="section == 'login'">
  <h1>Please Sign Up or Login</h1>
  <input
    type="email"
    name="email"
    required="required"
    placeholder="Enter your email"
    [(ngModel)]="email"
  />
  <button (click)="handleLogin()">Signup</button>
  <h5 *ngIf="show" style="color: #e56708" [innerHTML]="mssg"></h5>
</div>
<div id="app" *ngIf="section == 'consume'">
  <h1>Please enter the OTP</h1>
  <input
    type="text"
    name="otp"
    required="required"
    placeholder="Enter your OTP"
    [(ngModel)]="otp"
  />
  <button (click)="otpAuthenticate()">Submit</button>
  <h5 *ngIf="show" style="color: #e56708" [innerHTML]="mssg"></h5>
</div>
<div id="app" *ngIf="section == 'loggedIn'">
  <h1 style="margin: 5px;">Successfully Logged In <br>
  --------------------
</h1>
  <h1 style="margin: 5px;">Current User ID: <br>
    -------------------------
  </h1>
  <h1 style="margin: 5px;">{{ userId }}</h1>
  <button (click)="handleLogout()">Logout</button>
</div>
