<div id="app" *ngIf="section == 'login'">
  <h1>Please Sign Up or Login</h1>
  <input
    type="email"
    name="email"
    required="required"
    placeholder="Enter your email"
    [(ngModel)]="email"
  />
  <button (click)="handleLogin($event)">Signup</button>
  <h5 *ngIf="show" style="color: #e56708" [innerHTML]="mssg"></h5>
</div>
<div id="app" *ngIf="section == 'loggedIn'">
  <h1>Current user:</h1>
  <h1>{{ userMetadata.email }}</h1>
  <button (click)="handleLogout()">Logout</button>
</div>
