/* You can add global styles to this file, and also import other style files */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  font-size: 18px;
}

#app {
  width: 300px;
  height: 300px;
  align-self: center;
  justify-self: center;
  background-color: #eee;
  text-align: center;
  padding: 20px 18px;
  margin: auto;
  margin-top: 10%;
}

h1 {
  margin: 45px;
  padding-bottom: 18px;
  font-size: 18px;
}

input {
  margin-bottom: 9px;
}

input,
button {
  padding: 9px;
  font-size: 18px;
}
